body {
}

.borderlist {
    width : inherit;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    min-height: 34px;
    max-width: 300px;
    width: 273px;
    padding:14px 15px 0px 10px;
}

.listBox {
    width: 100% ;

}

.floatLeft {
    float:left;
}

.floatRight {
    float: right;
}

.textOverflow {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 175px;
    padding-left: 6px
}